* * *

Data Frames
-----------

Data Frames are data displayed in a format as a table.

Data Frames can have different types of data inside it. While the first column can be `character`, the second and third can be `numeric` or `logical`. However, each column should have the same type of data.

Use the `data.frame()` function to create a data frame:

### Example


```r
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

# Print the data frame
Data_Frame
```

1. **Creating a Data Frame (`Data_Frame`)**:
   - We create a data frame called `Data_Frame`.
   - The data frame has three columns:
     - `Training`: Contains the values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Printing the Data Frame**:
   - The `Data_Frame` is printed to the console.
   - The output will display the data frame with column names and corresponding values:

     ```
       Training Pulse Duration
     1 Strength   100       60
     2  Stamina   150       30
     3    Other   120       45
     ```

In summary, you've created a data frame in R with three columns and printed its contents! ðŸ“ŠðŸ”



* * *

In [1]:
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),
  Pulse = c(100, 150, 120),
  Duration = c(60, 30, 45)
)

# Print the data frame
Data_Frame

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45

Summarize the Data
------------------

Use the `summary()` function to summarize the data from a Data Frame:

### Example


```r
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Print the data frame
Data_Frame

# Display summary statistics for the data frame
summary(Data_Frame)
```

1. **Creating a Data Frame (`Data_Frame`)**:
   - We create a data frame called `Data_Frame`.
   - A data frame is a two-dimensional tabular structure in R that can hold different types of data (numeric, character, etc.).
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Printing the Data Frame (`Data_Frame`)**:
   - The `Data_Frame` is printed to the console.
   - The output will display the data frame with column names and corresponding values:

     ```
       Training Pulse Duration
     1 Strength   100       60
     2  Stamina   150       30
     3    Other   120       45
     ```

3. **Displaying Summary Statistics**:
   - The `summary(Data_Frame)` function provides summary statistics for each column in the data frame.
   - For numeric columns (`Pulse` and `Duration`), it shows minimum, 1st quartile, median, mean, 3rd quartile, and maximum values.
   - For character columns (`Training`), it displays the count of unique values.

In summary, you've created a data frame, printed its contents, and obtained summary statistics! ðŸ“ŠðŸ”


[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_summary)

You will learn more about the `summary()` function in the statistical part of the R tutorial.

* * *

In [2]:
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Print the data frame
Data_Frame

# Display summary statistics for the data frame
summary(Data_Frame)

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45

   Training             Pulse          Duration
 Length:3           Min.   :100.0   Min.   :30.0
 Class :character   1st Qu.:110.0   1st Qu.:37.5
 Mode  :character   Median :120.0   Median :45.0
                    Mean   :123.3   Mean   :45.0
                    3rd Qu.:135.0   3rd Qu.:52.5
                    Max.   :150.0   Max.   :60.0


Access Items
------------

We can use single brackets `[ ]`, double brackets `[[ ]]` or `$` to access columns from a data frame:

### Example

```r
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Access the first column of the data frame
Data_Frame[1]

# Access the column named "Training" using double square brackets
Data_Frame[["Training"]]

# Access the column named "Training" using the dollar sign notation
Data_Frame$Training
```

1. **Creating a Data Frame (`Data_Frame`)**:
   - We create a data frame called `Data_Frame`.
   - A data frame is a two-dimensional tabular structure in R that can hold different types of data (numeric, character, etc.).
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Accessing the First Column of the Data Frame**:
   - `Data_Frame[1]` retrieves the entire first column of the data frame.
   - The output will display the values in the "Training" column.

3. **Accessing the Column Named "Training"**:
   - `Data_Frame[["Training"]]` retrieves the entire column named "Training".
   - This is done using double square brackets.
   - The output will display the values in the "Training" column.

4. **Accessing the Column Named "Training" Using Dollar Sign Notation**:
   - `Data_Frame$Training` also retrieves the entire column named "Training".
   - This is done using the dollar sign notation.
   - The output will display the values in the "Training" column.

In summary, you've created a data frame, accessed specific columns, and demonstrated different ways to retrieve column data! ðŸ“ŠðŸ”



[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_access)

* * *

* * *

In [3]:
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Access the first column of the data frame
Data_Frame[1]

# Access the column named "Training" using double square brackets
Data_Frame[["Training"]]

# Access the column named "Training" using the dollar sign notation
Data_Frame$Training

  Training
1 Strength
2 Stamina
3 Other

[1] "Strength" "Stamina"  "Other"

[1] "Strength" "Stamina"  "Other"

Add Rows
--------

Use the `rbind()` function to add new rows in a Data Frame:

### Example

```r
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Add a new row to the data frame
New_row_DF <- rbind(Data_Frame, c("Strength", 110, 110))
# The new row contains values "Strength", 110, and 110 for the columns "Training", "Pulse", and "Duration", respectively.

# Print the new data frame with the added row
New_row_DF
```

1. **Creating a Data Frame (`Data_Frame`)**:
   - We create a data frame called `Data_Frame`.
   - A data frame is a two-dimensional tabular structure in R that can hold different types of data (numeric, character, etc.).
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Adding a New Row to the Data Frame**:
   - We use the `rbind` function to add a new row to the existing data frame.
   - The new row contains the values "Strength", 110, and 110 for the columns "Training", "Pulse", and "Duration", respectively.

3. **Printing the Updated Data Frame (`New_row_DF`)**:
   - The `New_row_DF` data frame is printed to the console.
   - The output will display the entire data frame, including the newly added row:

     ```
       Training Pulse Duration
     1 Strength   100       60
     2  Stamina   150       30
     3    Other   120       45
     4 Strength   110      110
     ```

In summary, you've created a data frame, added a new row, and printed the updated data frame! ðŸ“ŠðŸ”

Source: How to Create DataFrame in R (with Examples) â€“ Data to Fish. https://datatofish.com/create-dataframe-in-r/.

[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_add_rows)

* * *

In [4]:
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Add a new row to the data frame
New_row_DF <- rbind(Data_Frame, c("Strength", 110, 110))
# The new row contains values "Strength", 110, and 110 for the columns "Training", "Pulse", and "Duration", respectively.

# Print the new data frame with the added row.

New_row_DF
#The reason the output shows â€œchrâ€ for all three columns is because the data frame was created with a mix of different data types in rbind().

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45
4 Strength 110   110

Add Columns
-----------

Use the `cbind()` function to add new columns in a Data Frame:

### Example

```r
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Add a new column to the data frame
New_col_DF <- cbind(Data_Frame, Steps = c(1000, 6000, 2000))
# The new column "Steps" contains the numeric values 1000, 6000, and 2000.

# Print the data frame with the new column
New_col_DF
```

1. **Creating a Data Frame (`Data_Frame`)**:
   - We create a data frame called `Data_Frame`.
   - A data frame is a two-dimensional tabular structure in R that can hold different types of data (numeric, character, etc.).
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Adding a New Column to the Data Frame**:
   - We use the `cbind` function to add a new column named "Steps" to the existing data frame.
   - The new column contains the numeric values 1000, 6000, and 2000.

3. **Printing the Updated Data Frame (`New_col_DF`)**:
   - The `New_col_DF` data frame is printed to the console.
   - The output will display the entire data frame, including the newly added "Steps" column:

     ```
       Training Pulse Duration Steps
     1 Strength   100       60  1000
     2  Stamina   150       30  6000
     3    Other   120       45  2000
     ```

In summary, you've created a data frame, added a new column, and printed the updated data frame! ðŸ“ŠðŸ”

[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_add_cols)

* * *

In [5]:
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Add a new column to the data frame
New_col_DF <- cbind(Data_Frame, Steps = c(1000, 6000, 2000))
# The new column "Steps" contains the numeric values 1000, 6000, and 2000.

# Print the data frame with the new column
New_col_DF

  Training Pulse Duration Steps
1 Strength 100   60       1000
2 Stamina  150   30       6000
3 Other    120   45       2000

Remove Rows and Columns
-----------------------

Use the `c()` function to remove rows and columns in a Data Frame:

### Example


```r
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Remove the first row and first column from the data frame
Data_Frame_New <- Data_Frame[-c(1), -c(1)]

# Print the new data frame
Data_Frame_New
```

1. **Creating a Data Frame (`Data_Frame`)**:
   - We create a data frame called `Data_Frame`.
   - A data frame is a two-dimensional tabular structure in R that can hold different types of data (numeric, character, etc.).
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Removing the First Row and First Column from the Data Frame**:
   - We use indexing to remove the first row and first column from the existing data frame.
   - `Data_Frame[-c(1), -c(1)]` removes the first row and first column.
   - The resulting `Data_Frame_New` will have two rows and two columns.

3. **Printing the Updated Data Frame (`Data_Frame_New`)**:
   - The `Data_Frame_New` data frame is printed to the console.
   - The output will display the remaining rows and columns:

     ```
       Pulse Duration
     2   150       30
     3   120       45
     ```

In summary, you've removed the first row and first column from the original data frame, resulting in a new data frame with adjusted dimensions! ðŸ“ŠðŸ”


[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_remove)

* * *

In [6]:
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Remove the first row and first column from the data frame
Data_Frame_New <- Data_Frame[-c(1), -c(1)]

# Print the new data frame
Data_Frame_New

  Pulse Duration
2 150   30
3 120   45

Amount of Rows and Columns
--------------------------

Use the `dim()` function to find the amount of rows and columns in a Data Frame:

### Example

```r
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Get the dimensions (number of rows and columns) of the data frame
dim(Data_Frame)
```

1. **Creating a Data Frame (`Data_Frame`)**:
   - We create a data frame called `Data_Frame`.
   - A data frame is a two-dimensional tabular structure in R that can hold different types of data (numeric, character, etc.).
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Getting the Dimensions of the Data Frame**:
   - The `dim(Data_Frame)` function returns the dimensions of the data frame.
   - The output will be a vector with two values:
     - The number of rows (observations) in the data frame (in this case, 3).
     - The number of columns (variables) in the data frame (in this case, 3).

In summary, you've created a data frame and obtained its dimensions using the `dim` function! ðŸ“ŠðŸ”

[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_dim)

In [7]:
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Get the dimensions (number of rows and columns) of the data frame
dim(Data_Frame)

[1] 3 3

You can also use the `ncol()` function to find the number of columns and `nrow()` to find the number of rows:

### Example

```r
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Get the number of columns in the data frame
ncol(Data_Frame)

# Get the number of rows in the data frame
nrow(Data_Frame)
```

1. **Creating a Data Frame (`Data_Frame`)**:
   - We create a data frame called `Data_Frame`.
   - A data frame is a two-dimensional tabular structure in R that can hold different types of data (numeric, character, etc.).
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Getting the Number of Columns and Rows**:
   - The `ncol(Data_Frame)` function returns the number of columns (variables) in the data frame.
   - The `nrow(Data_Frame)` function returns the number of rows (observations) in the data frame.

In summary, you've created a data frame and obtained information about its dimensions (columns and rows) using `ncol` and `nrow` functions! ðŸ“ŠðŸ”.


[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_ncol_nrow)

* * *

In [8]:
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Get the number of columns in the data frame
ncol(Data_Frame)

# Get the number of rows in the data frame
nrow(Data_Frame)

[1] 3

[1] 3

Data Frame Length
-----------------

Use the `length()` function to find the number of columns in a Data Frame (similar to `ncol()`):

### Example

```r
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Get the total number of columns in the data frame
length(Data_Frame)
```

1. **Creating a Data Frame (`Data_Frame`)**:
   - We create a data frame called `Data_Frame`.
   - A data frame is a two-dimensional tabular structure in R that can hold different types of data (numeric, character, etc.).
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Getting the Total Number of Columns in the Data Frame**:
   - The `length(Data_Frame)` function returns the total number of columns (variables) in the data frame.
   - In this case, the output will be **3**, which represents the number of columns in the `Data_Frame`.

In summary, you've created a data frame and determined the total number of columns using the `length` function! ðŸ“ŠðŸ”.

[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_length)

* * *

In [9]:
# Create a data frame called "Data_Frame"
Data_Frame <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Get the total number of columns in the data frame
length(Data_Frame)

[1] 3

Combining Data Frames
---------------------

Use the `rbind()` function to combine two or more data frames in R vertically:

### Example

```r
# Create the first data frame called "Data_Frame1"
Data_Frame1 <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Create the second data frame called "Data_Frame2"
Data_Frame2 <- data.frame(
  Training = c("Stamina", "Stamina", "Strength"),  # Create a column named "Training" with character values
  Pulse = c(140, 150, 160),                        # Create a column named "Pulse" with numeric values
  Duration = c(30, 30, 20)                         # Create a column named "Duration" with numeric values
)

# Combine the two data frames by row (vertically)
New_Data_Frame <- rbind(Data_Frame1, Data_Frame2)

# Print the new combined data frame
New_Data_Frame
```

1. **Creating the First Data Frame (`Data_Frame1`)**:
   - We create a data frame called `Data_Frame1`.
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Creating the Second Data Frame (`Data_Frame2`)**:
   - We create another data frame called `Data_Frame2`.
   - The data frame also has three columns with different values:
     - `Training`: Contains the character values "Stamina", "Stamina", and "Strength".
     - `Pulse`: Contains the numeric values 140, 150, and 160.
     - `Duration`: Contains the numeric values 30, 30, and 20.

3. **Combining the Data Frames by Row (Vertically)**:
   - The `rbind(Data_Frame1, Data_Frame2)` function combines the two data frames vertically (by rows).
   - The resulting `New_Data_Frame` contains all rows from both `Data_Frame1` and `Data_Frame2`.

4. **Printing the Combined Data Frame (`New_Data_Frame`)**:
   - The `New_Data_Frame` data frame is printed to the console.
   - The output will display all rows from both original data frames:

     ```
       Training Pulse Duration
     1 Strength   100       60
     2  Stamina   150       30
     3    Other   120       45
     4  Stamina   140       30
     5  Stamina   150       30
     6 Strength   160       20
     ```

In summary, you've combined two data frames by row and created a new data frame with all the rows from both originals! ðŸ“ŠðŸ”

[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_combine)

In [10]:
# Create the first data frame called "Data_Frame1"
Data_Frame1 <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150, 120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Create the second data frame called "Data_Frame2"
Data_Frame2 <- data.frame(
  Training = c("Stamina", "Stamina", "Strength"),  # Create a column named "Training" with character values
  Pulse = c(140, 150, 160),                        # Create a column named "Pulse" with numeric values
  Duration = c(30, 30, 20)                         # Create a column named "Duration" with numeric values
)

# Combine the two data frames by row (vertically)
New_Data_Frame <- rbind(Data_Frame1, Data_Frame2)

# Print the new combined data frame
New_Data_Frame

  Training Pulse Duration
1 Strength 100   60
2 Stamina  150   30
3 Other    120   45
4 Stamina  140   30
5 Stamina  150   30
6 Strength 160   20

And use the `cbind()` function to combine two or more data frames in R horizontally:

### Example

```r
# Create the first data frame called "Data_Frame3"
Data_Frame3 <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150,  120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Create the second data frame called "Data_Frame4"
Data_Frame4 <- data.frame(
  Steps = c(3000, 6000,  2000),  # Create a column named "Steps" with numeric values
  Calories = c(300, 400, 300)   # Create a column named "Calories" with numeric values
)

# Combine the two data frames by column (horizontally)
New_Data_Frame1 <- cbind(Data_Frame3, Data_Frame4)

# Print the new combined data frame
New_Data_Frame1
```

The code snippet performs the following steps:

1. **Creating the First Data Frame (`Data_Frame3`)**:
   - We create a data frame called `Data_Frame3`.
   - The data frame has three columns:
     - `Training`: Contains the character values "Strength", "Stamina", and "Other".
     - `Pulse`: Contains the numeric values 100, 150, and 120.
     - `Duration`: Contains the numeric values 60, 30, and 45.

2. **Creating the Second Data Frame (`Data_Frame4`)**:
   - We create another data frame called `Data_Frame4`.
   - The data frame also has two columns:
     - `Steps`: Contains the numeric values 3000, 6000, and 2000.
     - `Calories`: Contains the numeric values 300, 400, and 300.

3. **Combining the Data Frames by Column (Horizontally)**:
   - The `cbind(Data_Frame3, Data_Frame4)` function combines the two data frames horizontally (by columns).
   - The resulting `New_Data_Frame1` contains all columns from both `Data_Frame3` and `Data_Frame4`.

4. **Printing the Combined Data Frame (`New_Data_Frame1`)**:
   - The `New_Data_Frame1` data frame is printed to the console.
   - The output will display all columns from both original data frames:

     ```
       Training Pulse Duration Steps Calories
     1 Strength   100       60  3000      300
     2  Stamina   150       30  6000      400
     3    Other   120       45  2000      300
     ```

In summary, you've combined two data frames by column and created a new data frame with all the columns from both originals! ðŸ“ŠðŸ”

[Try it Yourself Â»](https://www.w3schools.com/r/tryr.asp?filename=demo_data_frames_combine2)

In [11]:
# Create the first data frame called "Data_Frame3"
Data_Frame3 <- data.frame(
  Training = c("Strength", "Stamina", "Other"),  # Create a column named "Training" with character values
  Pulse = c(100, 150,  120),                      # Create a column named "Pulse" with numeric values
  Duration = c(60, 30, 45)                       # Create a column named "Duration" with numeric values
)

# Create the second data frame called "Data_Frame4"
Data_Frame4 <- data.frame(
  Steps = c(3000, 6000,  2000),  # Create a column named "Steps" with numeric values
  Calories = c(300, 400, 300)   # Create a column named "Calories" with numeric values
)

# Combine the two data frames by column (horizontally)
New_Data_Frame1 <- cbind(Data_Frame3, Data_Frame4)

# Print the new combined data frame
New_Data_Frame1

  Training Pulse Duration Steps Calories
1 Strength 100   60       3000  300
2 Stamina  150   30       6000  400
3 Other    120   45       2000  300

#Exercises on DataFrame for you to practice


Here are three exercises focused on data frames, progressively increasing in difficulty:

**Exercise 1: Building a Fitness Tracker Data Frame (Super Easy)**

**Objective:** Create a data frame to track your daily fitness activities.

**Instructions:**

1. Use `data.frame()` to create a data frame named `fitness_tracker`.
2. Include three columns:
    - `activity` (character): type of activity (e.g., "Running", "Yoga", "Strength Training")
    - `duration` (numeric): duration in minutes
    - `calories_burned` (numeric): estimated calories burned
3. Fill in the data for at least three different activities.

**Hints:**

- Use `c()` to specify column values within `data.frame()`.
- Remember data types for each column (character, numeric).

**Code:**

```R
# Create empty data frame
fitness_tracker <- data.frame(...)

# Fill in data for each activity
# activity <- c(...)
# duration <- c(...)
# calories_burned <- c(...)

# Add data to the data frame
# fitness_tracker <- rbind(fitness_tracker, c(...))
```

**Exercise 2: Summarizing and Accessing Data (Easy)**

**Objective:** Summarize and access data in your fitness tracker data frame.

**Instructions:**

1. Use `summary(fitness_tracker)` to see an overview of the data.
2. Find the total duration of all activities using `sum(fitness_tracker$duration)`.
3. Access the activity names for the first and last rows using indexing (e.g., `fitness_tracker$activity[1]`).
4. Calculate the average calories burned per activity using `mean(fitness_tracker$calories_burned, na.rm = TRUE)`.

**Hints:**

- Use the `$` operator to access specific columns.
- Remember how to use mathematical functions and indexing.

**Code:**

```R
# Summarize the data frame
summary(fitness_tracker)

# Calculate total duration
total_duration <- ...

# Access activity names for first and last rows
first_activity <- ...
last_activity <- ...

# Calculate average calories burned
average_calories <- ...
```

**Exercise 3: Combining and Modifying Data Frames (Challenging)**

**Objective:** Create a new data frame by combining and modifying your fitness tracker data.

**Instructions:**

1. Create a new data frame named `fitness_goals` with columns for activity, target duration, and target calories.
2. Set target durations and calories based on your fitness goals.
3. Combine the `fitness_tracker` and `fitness_goals` data frames using `rbind()`, ensuring correct matching of activities.
4. Calculate the difference between actual and target values for duration and calories in a new column named `progress`. Use conditional statements (e.g., `if` or `case_when`) to determine if progress is positive, negative, or zero.

**Hints:**

- Use `cbind()` to create columns with different data types.
- Remember how to compare values using operators and conditionals.

**Code:**

```r
# Create fitness_goals data frame
fitness_goals <- cbind(
  activity = ...,
  target_duration = ...,
  target_calories = ...
)

# Combine data frames
combined_data <- rbind(fitness_tracker, fitness_goals)

# Calculate progress
# combined_data$progress <- ...

# Display the combined data with progress information
combined_data
```

These exercises cover basic data frame creation, manipulation, and analysis, providing a foundation for further exploration in R programming. Good luck!

## Solutions to R Programming Exercises: Data Frames


**Exercise 1: Building a Fitness Tracker Data Frame (Super Easy)**

**Solution:**

```r
# Create empty data frame
fitness_tracker <- data.frame(
  activity = c("Running", "Yoga", "Strength Training"),
  duration = c(30, 45, 20),
  calories_burned = c(200, 150, 100)
)

# Explanation:
# - Use `data.frame()` with named arguments to define columns.
# - Each column has values specified within a vector `c()`.
# - Remember data types: "character" for text, "numeric" for numbers.
```

**Exercise 2: Summarizing and Accessing Data (Easy)**

**Solution:**

```r
# Summarize the data frame
summary(fitness_tracker)

# Explanation:
# - `summary()` provides basic statistics for each numeric column.

# Calculate total duration
total_duration <- sum(fitness_tracker$duration)

# Explanation:
# - Use `sum()` to add up all values in the "duration" column.

# Access activity names for first and last rows
first_activity <- fitness_tracker$activity[1]
last_activity <- fitness_tracker$activity[nrow(fitness_tracker)]

# Explanation:
# - Use `$` to access a specific column.
# - Indexing starts from 1.
# - `nrow()` gives the number of rows.

# Calculate average calories burned
average_calories <- mean(fitness_tracker$calories_burned, na.rm = TRUE)

# Explanation:
# - `mean()` calculates the average.
# - `na.rm = TRUE` excludes missing values (if any).
```

**Exercise 3: Combining and Modifying Data Frames (Challenging)**

**Solution:**

```r
# Create fitness_goals data frame
fitness_goals <- cbind(
  activity = c("Running", "Yoga", "Strength Training"),
  target_duration = c(45, 60, 30),
  target_calories = c(250, 200, 120)
)

# Explanation:
# - Use `cbind()` to create a data frame with multiple columns.
# - Each column has its own named vector of values.

# Combine data frames
combined_data <- rbind(fitness_tracker, fitness_goals)

# Explanation:
# - `rbind()` combines data frames vertically (rows).
# - Ensure activities in both data frames match for correct merging.

# Calculate progress
combined_data$progress <- c(
  ifelse(combined_data$duration[1] >= combined_data$target_duration[1], "Positive", "Negative"),
  ifelse(combined_data$duration[2] >= combined_data$target_duration[2], "Positive", "Negative"),
  ifelse(combined_data$duration[3] >= combined_data$target_duration[3], "Positive", "Negative")
)

# Explanation:
# - Add a new column "progress" to the combined data frame.
# - We use `ifelse()` to conditionally assign strings based on comparisons.
# - Adjust the indexing based on the actual number of rows in your data.

# Display the combined data with progress information
print(combined_data)

# Explanation:
# - Use `print()` to display the entire data frame with the added "progress" column.
```

Remember to replace the placeholders with your actual data and adjust indexing as needed. These examples demonstrate how to work with data frames, access and manipulate data, and combine information for analysis. You can further customize these exercises to fit your specific fitness goals and explore more data frame operations in R!